<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.15/angular.js" data-semver="1.2.15"></script>
    <title></title>
</head>
<body ng-app="">
<h1>Expressions</h1>
<div  ng-init="quantity=1;cost=5">
    <p>My first expression: {{ 5 + 5 }}</p>
    <p>Total in dollar: <span ng-bind="quantity * cost"></span></p>
</div>
<div  ng-init="person={firstName:'John',lastName:'Doe'}">

    <p>The name is {{ person.lastName }}</p>
</div>
<h1>Data Binding</h1>
<div  ng-init="firstName='John'">

    <p>Name: <input type="text" ng-model="firstName"></p>
    <p>You wrote: {{ firstName }}</p>

</div>
<div  ng-init="quantity2=1;price2=5">

    Quantity: <input type="number"	ng-model="quantity2">
    Costs:    <input type="number" ng-model="price2">

    Total in dollar: {{ quantity2 * price2 }}

</div>
<div  ng-init="names=[
                    {name:'Jani',country:'Norway'},
                    {name:'Hege',country:'Sweden'},
                    {name:'Kai',country:'Denmark'}]">
    <ul>
        <li ng-repeat="x	in names">
            {{ x.name + ', ' + x.country }}
        </li>
    </ul>
</div>
</body>
</html>