<!DOCTUPE html>
<html>
<head lang = "en">
	<meta charset = "UTF-8">
	<script data-required = "angular.js@1.2.x" src "http://code.angularjs.org/1.2.15/angular.js" data-semver="1.2.15"></script>
	<title></title>
</head>
<body ng-app="">
<h1>Exceptions</h1>
<div ng-init = "quantity=1; cost=5">
	<p> My first exceptions: {{5  5}} </p>
	<p> Total in dollar: <span ng-bind = "quantity * cost"></span></p>
</div>
<div ng-init="person={firstName:'John',lastName:'Doe'}">
	<p> The name is {{person.lastName}} </p>
</div>
<h1> Data Building </h1>
<div ng-init="firstName='John'">
	<p>Name:<input type