<!DOCTUPE html>
<html>
<head lang = "en">
	<meta charset = "UTF-8">
	<script data-required = "angular.js@1.2.x" src "http://code.angularjs.org/1.2.15/angular.js" data-semver="1.2.15"></script>
	<title></title>
</head>
<body ng-app="">
<div ng-controller = "personController">
	First Name <input type="text" ng-model="person.firstName"><br>
	Last Name <input type="text" ng-model="person.lastName"><br>
	<br>
	Full Name: {{fullName()}}
</div>

<div ng-controller="namesController">
	