<!DOCTYPE html>
<html>
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <style>
        body     { padding-top:30px; }
    </style>

    <!-- JS -->
    <script src="http://code.angularjs.org/1.2.6/angular.js"></script>
    <script src="appForm.js"></script>
</head>
<body ng-app="validationApp" ng-controller="mainController">
<div class="container">

    <!-- PAGE HEADER -->
    <div class="page-header"><h1>Reg Form</h1></div>

    <!-- =================================================================== -->
    <!-- FORM ============================================================== -->
    <!-- =================================================================== -->

    <!-- pass in the variable if our form is valid or invalid -->
    <form name="userForm" ng-submit="submitForm()" novalidate>
        <!--  Live Preview -->
   <!--     <div ng-show="user.name">
            <strong>Username:</strong>{{user.name}}<br/>
            <strong>Password:</strong> {{user.pass}}<br/>
            <strong>First Name:</strong>{{user.fname}}<br/>
            <strong>Last Name:</strong>{{user.lname}}<br/>
            <strong>Email:</strong> {{user.email}}
        </div> <br/>    -->
        <!-- NAME -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
            <label>Username*</label>
            <input type="text" name="username" class="form-control" ng-model="user.name"  ng-minlength="3" ng-maxlength="10" required>
            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : userForm.pass.$invalid && !userForm.pass.$pristine }">
            <label>Password*</label>
            <input type="password" name="pass" class="form-control" ng-model="user.pass"  >
            <p ng-show="userForm.pass.$invalid && !userForm.pass.$pristine" class="help-block">Password</p>
        </div>
        <!-- USERNAME -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.fname.$invalid && !userForm.fname.$pristine }">
            <label>First name*</label>
            <input type="text" name="fname" class="form-control" ng-model="user.fname" ng-minlength="3" ng-maxlength="10" required>
            <p ng-show="userForm.frname.$error.minlength" class="help-block">First name is too short.</p>
            <p ng-show="userForm.fname.$error.maxlength" class="help-block">First name is too long.</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : userForm.lname.$invalid && !userForm.lname.$pristine }">
            <label>Last name</label>
            <input type="text" name="lname" class="form-control" ng-model="user.lname" ng-minlength="3" ng-maxlength="10">
            <p ng-show="userForm.lname.$error.minlength" class="help-block">Last name is too short.</p>
            <p ng-show="userForm.lname.$error.maxlength" class="help-block">Last name is too long.</p>
        </div>

        <!-- EMAIL -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
            <label>Email*</label>
            <input type="email" name="email" class="form-control" ng-model="user.email" required>
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>

        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>

    </form>

    <!-- =================================================================== -->
    <!-- VALIDATION TABLES ================================================= -->
    <!-- =================================================================== -->
    <div class="page-header"><h1>Validation Tables</h1></div>

    <div class="row">
        <div class="col-xs-2">
            <h3>Form</h3>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td ng-class="{ success: userForm.$valid, danger: userForm.$invalid }">Valid</td>
                </tr>
                <tr>
                    <td ng-class="{ success: userForm.$pristine, danger: !userForm.$pristine }">Pristine</td>
                </tr>
                <tr>
                    <td ng-class="{ success: userForm.$dirty }">Dirty</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-2">
            <h3>Username</h3>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td ng-class="{ success: userForm.name.$valid, danger: userForm.name.$invalid }">Valid</td>
                </tr>
                <tr>
                    <td ng-class="{ success: userForm.name.$pristine, danger: !userForm.name.$pristine }">Pristine</td>
                </tr>
                <tr>
                    <td ng-class="{ success: userForm.name.$dirty }">Dirty</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-2">
            <h3>Password</h3>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td ng-class="{ success: userForm.pass.$valid, danger: userForm.pass.$invalid }">Valid</td>
                </tr>
                <tr>
                    <td ng-class="{ success: userForm.pass.$pristine, danger: !userForm.pass.$pristine }">Pristine</td>
                </tr>
                <tr>
                    <td ng-class="{ success: userForm.pass.$dirty }">Dirty</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-2">
            <h3>First name</h3>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td ng-class="{ success: userForm.fname.$valid, danger: userForm.fname.$invalid }">Valid</td>
                </tr>
                <tr>
                    <td ng-class="{ success: userForm.fname.$pristine, danger: !userForm.fname.$pristine }">Pristine</td>
                </tr>
                <tr>
                    <td ng-class="{ success: userForm.fname.$dirty }">Dirty</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-2">
            <h3>First name</h3>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td ng-class="{ success: userForm.lname.$valid, danger: userForm.lname.$invalid }">Valid</td>
                </tr>
                <tr>
                    <td ng-class="{ success: userForm.lname.$pristine, danger: !userForm.lname.$pristine }">Pristine</td>
                </tr>
                <tr>
                    <td ng-class="{ success: userForm.lname.$dirty }">Dirty</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-2">
            <h3>Email</h3>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td ng-class="{ success: userForm.email.$valid, danger: userForm.email.$invalid }">Valid</td>
                </tr>
                <tr>
                    <td ng-class="{ success: userForm.email.$pristine, danger: !userForm.email.$pristine }">Pristine</td>
                </tr>
                <tr>
                    <td ng-class="{ success: userForm.email.$dirty }">Dirty</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
</body>
</html>
