<!DOCTYPE html>
<html>
<head>
    <style>
        table, th , td  {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }
        table tr:nth-child(odd)	{
            background-color: #f1f1f1;
        }
        table tr:nth-child(even) {
            background-color: #ffffff;
        }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="customersController.js"></script>
</head>

<body>

<div ng-app="myApp" ng-controller="customersController as cc">
    <table width="50%">
        <tr ng-repeat-start="x in cc.names | orderBy : 'Country'">
            <td>{{ x.Name }}</td>
            <td>{{ x.Country | uppercase }}</td>
            <td><img width="100" ng-src="{{x.img}}" alt=""/></td>
            <td>
                <button  ng-show="x.showInfo" ng-click="cc.viewInfo(x)">Hide Info</button>
                <button  ng-hide="x.showInfo" ng-click="cc.viewInfo(x)">View Info</button>
            </td>
        </tr>
        <tr ng-repeat-end ng-show="x.showInfo">
            <td colspan="4">{{ x.Info }}</td>
        </tr>
    </table>
    <input type="checkbox" ng-model="cfm">Confirmed
    <input type="submit" value="Submit" onclick="alert('Data submitted!')" ng-disabled="!cfm"/>
</div>


</body>
</html>