<!DOCTYPE html>
    <html>
        <head lang="en">
            <meta charset="UTF-8">
            <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
                <script src="app.js"></script>
                <title></title>
            </head>
            <body>
            <div ng-app="myApp" ng-controller="myCtrl as mc">
                {{ mc.firstName + " " + mc.lastName }}
            </div>
            </body>
    </html>
