<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example - example-ngModelOptions-directive-blur-production</title>


    <script src="http:////ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="appModelOpt.js"></script>



</head>
<body ng-app="optionsExample">
<div ng-controller="ExampleController">
    <form name="userForm">
        Name:
        <input type="text" name="userName"
               ng-model="user.name"
               ng-model-options="{ updateOn: 'blur' }"
               ng-keyup="cancel($event)" /><br />

        Other data:
        <input type="text" ng-model="user.data" /><br />
        <hr/>
        <input type="text" name="userCity"
               ng-model="user.city"
               ng-model-options="{ debounce: 1000 }" />
        <button ng-click="userForm.userCity.$rollbackViewValue(); user.city=''">Clear</button><br />
    </form>
    <pre>user.name = <span ng-bind="user.name"></span></pre>
    <pre>user.city = <span ng-bind="user.city"></span></pre>
</div>

</body>
</html>