<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="app.js"></script>
    <title></title>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl as mc">
    No filter:{{ mc.firstName + " " + mc.lastName }}<br>
    Reverse: {{mc.firstName | reverse}}<br>
    Reverse + uppercase: {{mc.fullName() | reverse}}<br>
</div>
</body>
</html>