<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>
<body ng-app="">
<div ng-controller="personController">

    First Name: <input type="text" ng-model="person.firstName"><br>
    Last Name: <input type="text" ng-model="person.lastName"><br>
    <br>
    Full Name: {{fullName() | uppercase}}

</div>
<div ng-controller="namesController">
    <p><input type="text" ng-model="info.name"></p>
    <ul>
        <li ng-repeat="x in names | filter:info | orderBy:'country' | limitTo:3">
            {{ (x.name | uppercase)  + ', ' + x.country }}
        </li>
    </ul>

</div>

<div ng-controller="namesController">
    Any: <input ng-model="search.$"> <br>
    Name only <input ng-model="search.name"><br>
    Country only <input ng-model="search.country"><br>
    Equality <input type="checkbox" ng-model="strict"><br>
    <table id="searchObjResults">
        <tr><th>Name</th><th>Country</th></tr>
        <tr ng-repeat="persObj in names | filter:search:strict">
            <td>{{persObj.name}}</td>
            <td>{{persObj.country}}</td>
        </tr>
    </table>
</div>
<script src="namesController.js"></script>
<script src="personController.js"></script>
<div ng-controller="costController">

    Quantity: <input type="number" ng-model="quantity">
    Price: <input type="number" ng-model="price">

    <p>Total = {{ (quantity * price) | currency }}</p>

</div>

<script>
    function costController($scope) {
        $scope.quantity = 1;
        $scope.price = 9.99;
    }
</script>
</body>
</html>
