<!DOCTYPE html>
<html ng-app="gemStore">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS</title>
    <link data-require="bootstrap-css" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.15/angular.js" data-semver="1.2.15"></script>
    <script src="app.js"></script>
    <script src="products.js"></script>
  </head>

  <body ng-controller="StoreController as store">
    <!--  Store Header  -->
    <header>
      <h1 class="text-center">Flatlander Crafted Gems</h1>
      <h2 class="text-center">– an Angular store –</h2>
    </header>
    
    <!--  Products Container  -->
    <div class="list-group">
      <!--  Product Container  -->
        <div class="list-group-item" ng-repeat="product in store.products | orderBy:'-price'">
            <h3>Gem #{{$index + 1}}:{{product.name | uppercase}}<em class="pull-right">{{product.price | currency}}</em>
            </h3>

            <div ng-show="product.images.length" ng-controller="GalleryController as gallery">
                <div class="img-wrap">
                    <img ng-src="{{product.images[gallery.imageIndex]}}" class="img-thumbnail center-block" />
                </div>
                <ul class="img-thumbnails clearfix">
                    <li class="small-image pull-left thumbnail" ng-repeat="image in product.images" ng-click="gallery.currentImageChange($index)">
                        <img ng-src="{{image}}" />
                    </li>
                </ul>
            </div>

            <product-tabs></product-tabs>

        </div>
    </div>

  </body>

</html>
