<div>
    <h4>Specs</h4>
    <ul class="list-unstyled">
        <li>
            <strong>Shine</strong>
            : {{product.shine}}
        </li>
        <li>
            <strong>Faces</strong>
            : {{product.faces}}
        </li>
        <li>
            <strong>Rarity</strong>
            : {{product.rarity}}
        </li>
        <li>
            <strong>Color</strong>
            : {{product.color}}
        </li>
    </ul>
</div>
